{%  if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий</h5>
    <div class="card-body">
      <form method="post" action="{% url 'posts:add_comment' post.id %}">
        {% csrf_token %}
        {% for field in comment_form %}
          <div class="form-group mb-2">
            <label for="{{ field.id_for_label }}">
              {{ field.label }}
              {% if field.field.required %}
                <span class="required text-danger">*</span>
              {% endif %}
            </label>
            {{ field }}
            {% if field.help_text %}
              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                {{ field.help_text|safe }}
              </small>
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary">
              Отправить
          </button>
        </div>
      </form>
    </div>
  </div>
{%  endif %}
{% for comment in page_obj %}
<div class="media mb-4">
  <div class="media-body">
    <h5 class="mt-0">
      <a href="{% url 'posts:profile' comment.author.username %}">
        {% if not comment.author.get_full_name %}
          {{ comment.author.username }}
        {% else %}
          {{ comment.author.get_full_name }}
        {% endif %}
      </a>
    </h5>
    <p>
      {{ comment.text }}
    </p>
    </div>
  </div>
{% endfor %}
{% include 'includes/paginator.html' %}